$desktop-breakpoint: 700px;
$tablet-breakpoint: 650px;
$md-tablet-breakpoint: 550px;
$sm-tablet-breakpoint: 500px;
$xs-tablet-breakpoint: 450px;
$md-mobile-breakpoint: 375px;
$xs-device-breakpoint: 300px;