@use './colors' as c;
@use './variables' as v;
@use './functions' as f;


// flag for scores and votes
%flag {
    width: 55px;
    height: 28px;
    box-sizing: content-box;
    padding-top: 15px;
    position: relative;
    background: c.$amber;
    color: v.$green-theme;
    margin: 0 auto;
    font-size: 5.5px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
  
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-bottom: 6.5px solid c.$white;
      border-left: 27.5px solid transparent;
      border-right: 27.5px solid transparent;
    }
  }
  
  // star for leaderboard score
  %star  {
      background: c.$amber;
      width: 50px;
      height: 50px;
      position: relative;
      text-align: center;
    
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 50px;
        width: 50px;
        background: c.$amber;
        z-index: -1;
      }
    
      &::before {
        transform: rotate(30deg);
        z-index: -1;
      }
    
      &::after {
        transform: rotate(60deg);
        z-index: -1;
      }
    }
  
  // card styles for various cards used throughout the app
  %card {
    box-shadow: 0 4px 8px 0 v.$card-dropshadow;
    border-radius: 10px 0 0 10px;
    transition: 0.3s;
    margin: 0 0 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    &:hover {
      box-shadow: v.$card-dropshadow;
    }
  }
  
  // standardised styles for images used in cards
  %card_image {
    max-width: 100%;
    height: auto;
  }
  
  // parent button styles
  %btn {
    width: 200px;
    border-radius: 5px;
    background-color: v.$component-green;
    color: c.$white;
    box-shadow: v.$btn-dropshadow;
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;
    &:hover {
      box-shadow: v.$btn-dropshadow-hover;
      background-color:  f.$hover-dark;
    }
  }
  
  // parent styles for headers used on cards
  %card-header {
    font-size: 1.2em;
    background-color: v.$header-theme;
    text-align: center;
    width: 100%;
    margin-bottom: 1em;
  }
  
  
  