@use './colors' as c;
// variables for various themes
$green-theme: c.$primary-green;
$avatar-border: c.$mid-green;
$component-green: c.$mid-green;
$header-theme: c.$grey;
$card-dropshadow: 0 8px 16px 0  rgba(0, 0, 0, 0.2);
$btn-dropshadow: 5px 5px 0 rgb(15 15 15 / 50%);
$btn-dropshadow-hover: 1px 1px 0 rgba(15, 15, 15, 0.5);