@use '../abstracts' as a;
@use '../components' as *;
@use '../layouts' as l;

.center {
  @include a.flexbox-config($flex-direction: column, $align-items: center);

  margin-top: 5em;
}

.card-list {
  @include a.flexbox-config($flex-direction: row, $justify-content: center);
  flex-wrap: wrap;
  gap: 30px;
}

.avatar {
  max-width: 100%;
  height: auto;
}

// Dashboard tabs
.tabs-container {
  @include a.flexbox-config($flex-direction: column, $align-items: center);

  margin-top: 0;
}

.tabs {
  font-size: 2rem;
  background-color: a.$green-theme;
  width: 100vw;
  @include a.flexbox-config($justify-content: center);
}

.tabs-body {
  margin-top: 3em;
}

@media only screen and (max-width: a.$desktop-breakpoint) {
  .tabs {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: a.$md-tablet-breakpoint) {
  .tabs {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: a.$sm-tablet-breakpoint) {
  .tabs {
    font-size: 0.8rem;
  }
}
