@use '../abstracts' as *;

.center {
  @include flexbox-config($flex-direction: column, $align-items: center);

  margin-top: 5em;
}

// AddQ component
.newQ-header {
  @include flexbox-config($flex-direction: row);

  border: 1px solid rgba(23, 42, 67, 0.8);
  padding: 10px;
  height: auto;
  width: 100%;
  @include prefix(background-color, $header-theme, ms moz webkit);
}

.addQ {
  @extend %card;
  max-width: 500px;
  align-items: center;
}

.newQForm {
  @include flexbox-config($flex-direction: column, $align-items: center);

  margin: 1.5em 0 0 0;

  input[type="text"] {
    text-align: center;
  }
}

.add-btn {
  @extend %btn;
  margin: 20px;
}
