%card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px 0 0 10px;
  transition: 0.3s;
  margin: 0 0 30px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}


%card_image {
  max-width: 100%;
  height: auto;
}

%btn {
  width: 200px;
  border-radius: 5px;
  background-color: #4d8c57;
  color: #fff;
}

.user-card {
  @extend %card;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 500px;
  padding: 0 10em 0 10em;
}

.addQ {
  @extend %card;
  max-width: 500px;
  align-items: center;
  
}

.signIn {
  @extend %card;
  max-width: 500px;
  border: 1px solid #000;
  margin: 10px;
}

// .dropdown {
//     display: block;
// width: 500px;
// }
.signin-form {
  display: flex;
  flex-direction: column;
  margin: 30px;
}


.signin-btn {
  @extend %btn;
  margin: 20px 0 0 0;
}


.add-btn {
    @extend %btn;

}

.answer-btn {
  @extend %btn;
}

.dashbrd-btn {
  @extend %btn;
}

.notfound-btn {
  @extend %btn;
}

.question-card {
  @extend %card;
  max-width: 18rem;
  display: inline-block;

}

.qResult-card {
  @extend %card;
  max-width: 500px;

}

.answerQ-header {
  display: flex;
        flex-direction: row;
        border: 1px solid rgba(23, 42, 67, 0.8);
        // font-size: 0.8em;
        padding-left: 50px;
        height: auto;
        width: 100%;
        background-color: #cfd7de;
}

.not-found {
  @extend %card;
  max-width: 500px;
  padding: 5em;
  align-items: center;
  
}

// leaderboard

.ldr-card {
  @extend %card;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-basis: 0 0 30%;
  max-width: 500px;
  padding: 0 10em 0 10em;
  
}

.ldr-info {
  display: flex;
  flex-direction: row;
  flex-basis: 0 0 30%;
}


.question-info {
  display: flex;
  flex-direction: column;
}


.ldr-info {
flex-direction: column;
}

.num-questions {
flex-direction: row;

}

.score {
  flex-direction: column;
  border: 2px solid #000;

}

.avatar-img {
  @extend %card_image;
}