@mixin theme($theme: #1F666A) {
  background: $theme;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px 0 0 10px;
  transition: 0.3s;
  color: grey;
}


$green-theme: #1F666A;
$header-theme: #cfd7de;

%card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px 0 0 10px;
  transition: 0.3s;
  margin: 0 0 30px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}

%card_image {
  max-width: 100%;
  height: auto;
}

%btn {
  width: 200px;
  border-radius: 5px;
  background-color: #4d8c57;
  color: #fff;
  box-shadow: 5px 5px 0 rgb(15 15 15 / 50%);
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
  &:hover {
    box-shadow: 1px 1px 0 rgba(15, 15, 15, 0.5);
    background-color: #77b481;
  }
}


%card-header {
  font-size: 1.2em;
  background-color: $header-theme;
  text-align: center;
  width: 100%;
  margin-bottom: 1em;
}

// .user-card {
//   @extend %card;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   max-width: 500px;
//   padding: 0 10em 0 10em;
// }

// .addQ {
//   @extend %card;
//   max-width: 500px;
//   align-items: center;
// }

// .signIn {
//   @extend %card;
//   max-width: 500px;
//   border: 1px solid #000;
//   margin: 10px;
// }

// .dropdown {
//     display: block;
// width: 500px;
// }
// .signin-form {
//   display: flex;
//   flex-direction: column;
//   margin: 30px;
// }

// .signin-btn {
//   @extend %btn;
//   margin: 20px 0 0 0;
// }

// .add-btn {
//   @extend %btn;
//   margin: 20px;
// }

// .answer-btn {
//   @extend %btn;
// }

// .dashbrd-btn {
//   @extend %btn;
// }

// .notfound-btn {
//   @extend %btn;
// }

// .signout-btn {
//   @extend %btn;
//   background-color: #cfd7de;
//   color: #1f666a;
//   width: 100px;
// }

// .qResult-btn {
//   @extend %btn;
//   width: 100px;
// }

// .question-card {
//   @extend %card;
//   max-width: 18rem;
//   // display: inline-block;
//   text-align: center;
// }

// .qResult-card {
//   @extend %card;
//   max-width: 500px;
// }

// .answerQ-header {
//   font-size: 1rem;
//   background-color: #cfd7de;
//   text-align: center;
//   width: 100%;
// }

// .not-found {
//   @extend %card;
//   max-width: 500px;
//   padding: 5em;
//   align-items: center;
// }

// // leaderboard

// .ldr-card {
//   @extend %card;
//   max-width: 18rem;
//   // display: inline-block;
//   text-align: center;
// }

// .ldr-info {
//   display: flex;
//   flex-direction: row;
//   flex-basis: 0 0 30%;
// }

// .question-info {
//   display: flex;
//   flex-direction: column;
// }

// .ldr-info {
//   flex-direction: column;
// }

// .num-questions {
//   flex-direction: row;
// }

// .score {
//   flex-direction: column;
//   border: 2px solid #000;
// }

// .avatar-img {
//   @extend %card_image;
// }
