@import "_helpers";

// @mixin theme($theme: #1F666A) {
//     background: $theme;
//     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
//     border-radius: 10px 0 0 10px;
//     transition: 0.3s;
//     color: grey;
//   }

.nav-bar {
  background-color: $green-theme;
  width: 100vw;
  height: 100px;
  .items {
    color: #fff;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  .links {
    display: flex;
    gap: 40px;
  }
  .navitem {
    transition: all 0.2s ease-in;
    text-decoration: none;
    &:hover {
      color: #fff;
      transform: translateY(-5px);
    }
    
  }
}

.navitem {
    &:active {
        transform: translateY(-5px);
    }
}

.loguser {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

.loguserdetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}
.avatar-pic {
  max-width: 50px;
  height: 50px;
  border: 1px solid #4d8c57;
  border-radius: 25px;
  margin-right: 2rem;
  align-items: flex-end;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.5)
  }
}

.signout-btn {
  display: flex;
  background-color: #cfd7de;
  font-size: 10px;
  color: #1f666a;
  width: 70px;
  border-radius: 35px;
  padding: 0.4rem;
  margin-left: 20px;
  text-decoration: none;
  justify-content: center;
  &:hover {
    box-shadow: 1px 1px 0 rgba(15, 15, 15, 0.5);
    background-color: #e8f0f7;
  }
}

.nav-bar {
  a {
    text-decoration: none;
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
}

@media only screen and (max-width: 700px) {
  .nav-bar .links {
    display: flex;
    grid-gap: 40px;
    font-size: 0.7em;
    // flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
  }
}
