@mixin theme($theme: #1F666A) {
    background: $theme;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px 0 0 10px;
    transition: 0.3s;
    color: grey;
  }
  

$green-theme: #1F666A;

ul {
    list-style: none;
    color: rgb(56, 8, 119);
    text-decoration: none;
}

// Navlink {
//     text-decoration: none;
//     width: 100%;
//     border: 2px solid #000;
// }



.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: $green-theme;
    border-bottom: 2px solid #000;
    width: 100%;
    height: 100px;
    position: relative;
}

.navbar { 
    .navitems {

        
        color: red;
        text-decoration: none;
        // margin: 10em;
        list-style: none;

        // position: absolute;
        // top: 80px;
        // left: 80px;
        display: flex;
        justify-content: space-evenly;
       
        // display: flex;

        // justify-content: space-around;
    }
    // .navitem {
    //     border: 2px solid #000;
    //     background-color: #cfd7de;

    // }
    }


    .loguser {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .loguserdetails {
        flex-direction: row;
        justify-content: space-between;
    }
    .avatar-pic {
        max-width: 50px;
        height: 50px;
        border: 1px solid #4d8c57;
        border-radius: 25px;
    }