@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
.your-vote {
  width: 55px;
  height: 28px;
  box-sizing: content-box;
  padding-top: 15px;
  position: relative;
  background: #EA9300;
  color: #1F666A;
  margin: 0 auto;
  font-size: 5.5px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
}
.your-vote::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 6.5px solid #fff;
  border-left: 27.5px solid transparent;
  border-right: 27.5px solid transparent;
}

.star-label {
  background: #EA9300;
  width: 50px;
  height: 50px;
  position: relative;
  text-align: center;
}
.star-label::before, .star-label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  background: #EA9300;
  z-index: -1;
}
.star-label::before {
  transform: rotate(30deg);
  z-index: -1;
}
.star-label::after {
  transform: rotate(60deg);
  z-index: -1;
}

.ldr-card, .question-card, .qResult-card, .not-found, .addQ, .user-card, .signIn {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px 0 0 10px;
  transition: 0.3s;
  margin: 0 0 30px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ldr-card:hover, .question-card:hover, .qResult-card:hover, .not-found:hover, .addQ:hover, .user-card:hover, .signIn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.avatar-img {
  max-width: 100%;
  height: auto;
}

.answer-btn, .notfound-btn, .dashbrd-btn, .qResult-btn, .add-btn, .signin-btn {
  width: 200px;
  border-radius: 5px;
  background-color: #4d8c57;
  color: #fff;
  box-shadow: 5px 5px 0 rgba(15, 15, 15, 0.5);
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
}
.answer-btn:hover, .notfound-btn:hover, .dashbrd-btn:hover, .qResult-btn:hover, .add-btn:hover, .signin-btn:hover {
  box-shadow: 1px 1px 0 rgba(15, 15, 15, 0.5);
  background-color: #77b481;
}

.answerQ-header, .qResult-author, .author-header {
  font-size: 1.2em;
  background-color: #cfd7de;
  text-align: center;
  width: 100%;
  margin-bottom: 1em;
}

.your-vote {
  width: 55px;
  height: 28px;
  box-sizing: content-box;
  padding-top: 15px;
  position: relative;
  background: #EA9300;
  color: #1F666A;
  margin: 0 auto;
  font-size: 5.5px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
}
.your-vote::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 6.5px solid #fff;
  border-left: 27.5px solid transparent;
  border-right: 27.5px solid transparent;
}

.star-label {
  background: #EA9300;
  width: 50px;
  height: 50px;
  position: relative;
  text-align: center;
}
.star-label::before, .star-label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  background: #EA9300;
  z-index: -1;
}
.star-label::before {
  transform: rotate(30deg);
  z-index: -1;
}
.star-label::after {
  transform: rotate(60deg);
  z-index: -1;
}

.ldr-card, .question-card, .qResult-card, .not-found, .addQ, .user-card, .signIn {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px 0 0 10px;
  transition: 0.3s;
  margin: 0 0 30px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ldr-card:hover, .question-card:hover, .qResult-card:hover, .not-found:hover, .addQ:hover, .user-card:hover, .signIn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.avatar-img {
  max-width: 100%;
  height: auto;
}

.answer-btn, .notfound-btn, .dashbrd-btn, .qResult-btn, .add-btn, .signin-btn {
  width: 200px;
  border-radius: 5px;
  background-color: #4d8c57;
  color: #fff;
  box-shadow: 5px 5px 0 rgba(15, 15, 15, 0.5);
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
}
.answer-btn:hover, .notfound-btn:hover, .dashbrd-btn:hover, .qResult-btn:hover, .add-btn:hover, .signin-btn:hover {
  box-shadow: 1px 1px 0 rgba(15, 15, 15, 0.5);
  background-color: #77b481;
}

.answerQ-header, .qResult-author, .author-header {
  font-size: 1.2em;
  background-color: #cfd7de;
  text-align: center;
  width: 100%;
  margin-bottom: 1em;
}

.nav-bar {
  background-color: #1F666A;
  width: 100vw;
  height: 100px;
}
.nav-bar .items {
  color: #fff;
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.nav-bar .links {
  display: flex;
  gap: 40px;
}
.nav-bar .navitem {
  transition: all 0.2s ease-in;
  text-decoration: none;
}
.nav-bar .navitem:hover {
  color: #fff;
  transform: translateY(-5px);
}

.navitem:active {
  transform: translateY(-5px);
}

.loguser {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

.loguserdetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.avatar-pic {
  max-width: 30px;
  height: 30px;
  border: 1px solid #4d8c57;
  border-radius: 15px;
  margin-right: 2rem;
  align-items: flex-end;
  transition: all 0.2s ease-in-out;
}
.avatar-pic:hover {
  transform: scale(1.5);
}

.signout-btn {
  display: flex;
  background-color: #cfd7de;
  font-size: 10px;
  color: #1f666a;
  width: 70px;
  border-radius: 35px;
  padding: 0.4rem;
  margin-left: 20px;
  text-decoration: none;
  justify-content: center;
}
.signout-btn:hover {
  box-shadow: 1px 1px 0 rgba(15, 15, 15, 0.5);
  background-color: #e8f0f7;
}

.nav-bar a {
  text-decoration: none;
  color: #fff;
}
.nav-bar a:hover {
  color: #fff;
}

@media only screen and (max-width: 700px) {
  .nav-bar .links {
    font-size: 0.8em;
    white-space: nowrap;
    gap: 10px;
  }
  .nav-bar .links .navitem {
    flex: 0 2 25%;
  }

  .loguser {
    font-size: 0.7em;
    flex: 0 2 auto;
  }
}
@media only screen and (max-width: 650px) {
  .loguserdetails {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
  }

  .avatar-pic {
    margin-right: 0;
    width: 20 px;
    height: 20 px;
    border-radius: 10 px;
  }
  .avatar-pic:hover {
    transform: scale(1);
  }

  .signout-btn {
    padding: 0;
    margin: 0.1em 0 10em 0;
  }
}
@media only screen and (max-width: 450px) {
  .nav-bar .links {
    flex-wrap: wrap;
    flex-direction: row;
    white-space: nowrap;
    gap: 10px;
    align-items: flex-start;
  }
  .nav-bar .links .navitem {
    flex: 0 3 25%;
  }
  .nav-bar .links .navitem .nav-bar .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 300px) {
  .nav-bar .links {
    font-size: 0.5em;
    flex-wrap: wrap;
    flex-direction: column;
    white-space: nowrap;
    gap: 10px;
  }
  .nav-bar .links .navitem {
    flex: 0 3 25%;
  }
  .nav-bar .links .navitem:hover {
    transform: translateX(5px);
  }
  .nav-bar .links .navitem .nav-bar .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  .nav-bar .links .loguser {
    font-size: 0.5em;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.contain {
  margin: 0 auto;
  max-width: 960px;
}

html {
  font-size: 100%;
  font-family: "Roboto Slab", serif;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
}

.signIn {
  max-width: 600px;
  width: 500px;
  border: 1px solid #000;
  margin: 10px;
}
.signIn div.signIn > p {
  margin-top: 2 em;
  text-align: center;
  margin-bottom: 1 em;
  color: #1F666A;
}

.signin-header {
  text-align: center;
  border: 1px solid rgba(23, 42, 67, 0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: auto;
  width: 100%;
  font-weight: 600;
  border-radius: 10px 0 0 0;
  font-size: 1.5rem;
  padding: 1em;
  background-color: #cfd7de;
}

.paws {
  max-width: 300px;
  padding: 30px;
  border-radius: 150px;
}

.signin-form {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.user-select {
  width: 200px;
}

.signin-btn {
  margin: 20px 0 0 0;
}

.user-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 500px;
  padding: 0 10em 0 10em;
}

.newQ-header {
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(23, 42, 67, 0.8);
  padding: 10px;
  height: auto;
  width: 100%;
  background-color: #cfd7de;
}

.addQ {
  max-width: 500px;
  align-items: center;
}

.newQForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5em 0 0 0;
}
.newQForm input[type=text] {
  text-align: center;
}

.add-btn {
  margin: 20px;
}

.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.avatar {
  max-width: 100%;
  height: auto;
}

.not-found {
  max-width: 500px;
  padding: 5em;
  align-items: center;
}

.sad-cat {
  max-width: 500px;
  height: auto;
  padding: 30px;
}

.optionResult {
  display: block;
  max-width: 300px;
  padding: 1em;
  text-align: center;
  margin: 0.5em 0 0.5em 0;
}

.optionResult div + p {
  margin-top: 1em;
}

.qResult-btn {
  width: 100px;
}

.qResult-card {
  max-width: 20rem;
}

.question-card {
  max-width: 18rem;
  text-align: center;
}

.answer-form {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.answer-labels {
  flex-direction: row;
  justify-content: center;
  margin: 1em 0 1em 0;
}

.radio-btn {
  margin-left: 1em;
}

.answer-btn {
  margin: 1em 0 1em 0;
}

.ldr-card {
  max-width: 25rem;
  text-align: center;
}

.question-info {
  display: flex;
  flex-direction: column;
}

.ldr-info {
  flex-direction: column;
}

.num-questions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2em;
}

.q-container {
  width: 50%;
}

.ansQs {
  flex: 0 1 auto;
}

.createdQs {
  flex: 0 1 auto;
}

.score {
  display: flex;
  flex: 0 1 auto;
}

.tabs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}

.tabs {
  font-size: 2rem;
  background-color: #1F666A;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.tabs-body {
  margin-top: 3em;
}

@media only screen and (max-width: 700px) {
  .tabs {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 550px) {
  .tabs {
    font-size: 1.3rem;
  }

  .ldr-card {
    margin-right: 15px;
    text-align: center;
    flex: 0 2 auto;
  }
}
@media only screen and (max-width: 500px) {
  .signIn {
    width: 300px;
  }

  .tabs {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 375px) {
  .question-card {
    margin-right: 15px;
    text-align: center;
    flex: 0 2 auto;
  }

  .ldr-card {
    margin-right: 20px;
    text-align: center;
  }

  .qResult-card {
    margin-right: 10px;
    flex: 0 2 auto;
  }
}
@media only screen and (max-width: 300px) {
  .signIn {
    margin: 0 auto;
  }

  .paws {
    max-width: 150 px;
    padding: 30 px;
    border-radius: 75 px;
  }

  .loguserdetails {
    font-size: 0.7em;
  }

  .num-questions {
    font-size: 0.5em;
    flex-direction: column;
    align-items: center;
  }

  .score {
    padding: 1.5em;
    margin-top: 1em;
  }
}

/*# sourceMappingURL=App.css.map */
