@import 'helpers';
@import 'nav';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



body {

    margin: 0;
}

html {
    font-size: 100%;
    // font-family: Roboto Slab', serif;

}

.container {
    width: 1170px;
    margin: 0;
    // padding: 10px;
}





.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;

}

// styles for signin component



// styles for signin component form

.dropdown {
    appearance: none;

    position: relative;
  font-family: Arial;
  width: 100%;


}


// AddQ component 
.newQ-header {
        display: flex;
        flex-direction: row;
        border: 1px solid rgba(23, 42, 67, 0.8);
        // font-size: 0.8em;
        padding-left: 50px;
        height: auto;
        width: 100%;
        background-color: #cfd7de;
}

.newQForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ldrboard-img {
    border: 2px solid green;
    border-radius: 20px;
    width: 100%;
    height: auto;
    // flex-basis: 0 0 40%;
    
}

.card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.avatar {
    max-width: 100%;
    height: auto;

}

.tabs {
    font-size: 32px;
    background-color: $green-theme;
}


// signin image

.paws {
    max-width: 300px;
    padding: 30px;
    border-radius: 150px;
}

.signin-header {
    display: flex;
        flex-direction: row;
        border: 1px solid rgba(23, 42, 67, 0.8);
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        height: auto;
        width: 100%;
        background-color: #cfd7de;
}

.author-header {
    font-size: 0.8em;
    background-color: #cfd7de;
    text-align: center;
    width: 100%;
}

.user-select {
    width: 200px;
}
.sad-cat {
    max-width: 500px;
    height: auto;
    padding: 30px;
}

.optionResult {
    border: 1px solid #000;
    background-color: grey;
}