@import "_helpers";
@import "_nav";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.contain {
  margin: 0 auto;
  max-width: 960px;
}

html {
  font-size: 100%;
  font-family: "Roboto Slab", serif;
}

// centers content on page
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
}

// styles for signin component
.signIn {
  @extend %card;
  max-width: 600px;
  width: 500px;
  border: 1px solid #000;
  margin: 10px;

  div.signIn {
    & > p {
      margin-top: 2 em;
      text-align: center;
      margin-bottom: 1 em;
      color: $green-theme;
    }
  }
}

.signin-header {
  text-align: center;
  border: 1px solid rgba(23, 42, 67, 0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: auto;
  width: 100%;
  font-weight: 600;
  border-radius: 10px 0 0 0;
  font-size: 1.5rem;
  padding: 1em;
  background-color: $header-theme;
}

.paws {
  max-width: 300px;
  padding: 30px;
  border-radius: 150px;
}

.signin-form {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.user-select {
  width: 200px;
}

.signin-btn {
  @extend %btn;
  margin: 20px 0 0 0;
}

.user-card {
  @extend %card;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 500px;
  padding: 0 10em 0 10em;
}

// AddQ component
.newQ-header {
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(23, 42, 67, 0.8);
  padding: 10px;
  height: auto;
  width: 100%;
  background-color: #cfd7de;
}

.addQ {
  @extend %card;
  max-width: 500px;
  align-items: center;
}

.newQForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5em 0 0 0;

  input[type="text"] {
    text-align: center;
  }
}

.add-btn {
  @extend %btn;
  margin: 20px;
}

// styles for Dashboard component list of questions
.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.avatar {
  max-width: 100%;
  height: auto;
}

// question component author header
.author-header {
  @extend %card-header;
}

// NotFound styles
.not-found {
  @extend %card;
  max-width: 500px;
  padding: 5em;
  align-items: center;
}

.sad-cat {
  max-width: 500px;
  height: auto;
  padding: 30px;
}

// QuestionResult styles
.optionResult {
  display: block;
  max-width: 300px;
  padding: 1em;
  text-align: center;
  margin: 0.5em 0 0.5em 0;
}

.optionResult div {
  + p {
    margin-top: 1em;
  }
}

.qResult-author {
  @extend %card-header;
}

.qResult-btn {
  @extend %btn;
  width: 100px;
}

.qResult-card {
  @extend %card;
  max-width: 20rem;
}

// to mark authedUser's vote
.your-vote {
  @extend %flag;
}

// buttons


.dashbrd-btn {
  @extend %btn;
}

.notfound-btn {
  @extend %btn;
}

// answerQ component
.question-card {
  @extend %card;
  max-width: 18rem;
  text-align: center;
}

.answerQ-header {
  @extend %card-header;
}

.answer-form {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.answer-labels {
  flex-direction: row;
  justify-content: center;
  margin: 1em 0 1em 0;
}

.radio-btn {
  margin-left: 1em;
}

.answer-btn {
  @extend %btn;
  margin: 1em 0 1em 0;
}


// leaderboard

.ldr-card {
  @extend %card;
  max-width: 25rem;
  text-align: center;
}

.question-info {
  display: flex;
  flex-direction: column;
}

.ldr-info {
  flex-direction: column;
}

.num-questions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2em;
}

.q-container {
  width: 50%;
}
.ansQs {
  flex: 0 1 auto;
  // width: 25%;
}

.createdQs {
  flex: 0 1 auto;
  // width: 25%;
}
.star-label {
  @extend %star;
}

.score {
  display: flex;

  flex: 0 1 auto;
}

.avatar-img {
  @extend %card_image;
}

// Dashboard tabs
.tabs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}

.tabs {
  font-size: 2rem;
  background-color: $green-theme;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.tabs-body {
  margin-top: 3em;
}

@media only screen and (max-width: 700px) {
  .tabs {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 550px) {
  .tabs {
    font-size: 1.3rem;
  }

  .ldr-card {
    margin-right: 15px;
    text-align: center;
    flex: 0 2 auto;
  }
}

@media only screen and (max-width: 500px) {
  .signIn {
    width: 300px;
  }

  .tabs {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 375px) {
  .question-card {
    margin-right: 15px;
    text-align: center;
    flex: 0 2 auto;
  }

  .ldr-card {
    margin-right: 20px;
    text-align: center;
  }

  .qResult-card {
    margin-right: 10px;
    flex: 0 2 auto;
  }
}
@media only screen and (max-width: 300px) {
  .signIn {
    margin: 0 auto;
  }

  .paws {
    max-width: 150 px;
    padding: 30 px;
    border-radius: 75 px;
  }

  .loguserdetails {
    font-size: 0.7em;
  }

  .num-questions {
    font-size: 0.5em;
    flex-direction: column;
    align-items: center;
  }

  .score {
    padding: 1.5em;
    margin-top: 1em;
  }
}
